
li { color : blue; }
body { margin: 0; }
body { background-color : gray;}
li { text-align: center; }
body>header { text-align: center; }
body>header>ol>li {
    			margin: 0;
    			padding: 0;
    			background-color: blue;
    			list-style-type: none;
							}
body>header>nav>ol>li :hover { background-color: black; }
body>header>nav>ol>li :active { background-color: gray; }
body>header>nav>ol>li>a {
    				display: block;
    				padding: 1em;
    				color: blue;
    				text-decoration: red;
							}
body>main { padding: 1em; }
body>header>nav>ol>li{ display: inline-block; 
			text-align: center;	}

body>div {
    		display: block;
    		box-sizing: border-box;
    		padding: 1em;
    		
    		vertical-align: center;
						}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 600px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.nav li a {
    display: inline-block;
    padding: 8px 16px;

}


div.content {
    margin-left: 600px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (min-width: 600px) {
    ul.nav {
        width: 600px;
        height: auto;
        position: fixed;
    }
    ol.nav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 1) {
    ul.nav li a {
        text-align: center;
	display : block;
        float: none;
    }
}
