li { color : blue; }
body { margin: 0; }
body { background-color : gray;}
li { text-align: center; }
body>header { text-align: center; }
body>header>ol>li {
    			margin: 0;
    			padding: 0;
    			background-color: blue;
    			list-style-type: none;
							}
body>header>nav>ol>li>a { padding: 30px; text-align: center; color: blue; }
body>header>nav>ol>li :hover { background-color: black; }
body>header>nav>ol>li :active { background-color: gray; }
body>header>nav>ol>li>a {
    				display: block;
    				padding: 1em;
    				color: blue;
    				text-decoration: red;
							}

nav {
   	float: center;
    	width: 100%;
    	padding: 20px;
			}


nav ul { list-style-type: none; padding: 0; }

@media (max-width: 600px) { nav, article { width: 100%; height: auto; }

}
