@media print { @page { size: auto; margin: 0; } body { margin: 1.6cm; } }
li { color : blue; }
body { margin: 0; }

li { text-align: center; }
body>header { text-align: center; }
body>header>ul>li {
			
    			margin: 0;
    			padding: 0;
    			list-style-type: none;
							}
body>header>nav>ul>li>a { color: blue; }
body>header>nav>ul>li :hover { background-color: black; color: green; }
body>header>nav>ul>li :active { background-color: gray; }
body>header>nav>ul>li { padding: 1em; }
body>header>nav>ul>li>a {
    				
    				padding: 1em;
    				color: blue;
    				text-decoration: red;}

@media only screen and (max-width: 1200px) { body>header>nav>ul>li>a { display: block; color: green; list-style-type: none; } }

@media print { body>header>nav>ul { display: none !important; } h1, hr { display: none !important; } }
