@media print { @page { size: auto; margin: 0; } body { margin: 1.6cm; } }
li { color : blue; }
body { margin: 0; }
body { background-color : white;}
li { text-align: center; }
body>header { text-align: center; }
body>header>ul>li {
    			margin: 0;
    			padding: 0;
    			list-style-type: none;
							}
body>header>nav>ul>li>a { text-align: center; color: blue; }
body>header>nav>ul>li :hover { background-color: black; }
body>header>nav>ul>li :active { background-color: gray; }
body>header>nav>ul>li { display: inline-block; }
body>header>nav>ul>li>a {
    				display: inline;
    				padding: 1em;
    				color: blue;
    				text-decoration: red;}

@media only screen and (max-width: 600px) { body>header>nav>ul>li>a { display: block; color: green; width: 600px; } }

@media print { body>header>nav>ul { display: none !important; } h1, hr { display: none !important; } }
ul {    
	list-style-type: none;
    	margin: 0;
	padding: 0; 
				}

#togBut {
  		border: 2px solid black;
  		background: gray;
  		padding: 5px;  			}

#togBut:hover {
  			background: black;
  			color: white; 		}
