body { background-color: #708090; slategray; }
h1 { text-align: center; color: #8B0000; darkred; }
hr { color: #2F4F4F; darkslategray; }
i { color: #8B0000; darkred; }
p { margin : 1em; }
figure { 
		display: block;
		background-color: #778899; lightslategray;
		margin: 1em; 
		padding: 1em; 
		p.solid {border-style: solid;}
		border style: 1em thin solid; 
		border-color: #000000; black; 
						}
th {	text-align: center;

					}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8B0000; darkred; #778899; lightslategray; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2F4F4F; darkslategray; 
}

}

div {
	display: block;
	background-color: #778899; lightslategray;
	margin: 10px; 
	padding: 1em; 
	p.solid { border-style: solid; }
	border style: solid; 
	border-color: #000000; black;
	text-align: left;
							}
/*"https://www.rapidtables.com/web/css/css-color.html"*/
/*https://fonts.google.com/*/
